.body {
  margin: 150px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-transformations {
  margin: 0;
}

button {
  width: 50%;
  margin-top: 10px;
}

.control__item {
  padding-block: 5px;
}

.input__label {
  display: block;
}
